#ProcessForm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 300px;
    width: 300px;
    margin-left: 40%;
    
    border: 5px solid white;
    color: black;
    font-size: 1em;
    background-image: linear-gradient(to right, rgb(251, 255, 0) , rgb(255, 153, 0));

}

#IndexBody {
    background-image: linear-gradient(to right, rgb(0, 255, 115) , rgb(0, 183, 255));
}